$color-primary: #0788de;
$color-primary-dark: #116ab8;

$color-text: #222;
$color-text-dark-background: #fff;

$color-border-0: #aaa;

$color-background-0: #fff;
$color-background-1: #fafafa;
$color-background-2: #eaeaea;
$color-background-3: #ddd;
$color-background-selected: #cfdde8;
$color-background-disabled: $color-border-0;

$color-shadow: #00000088;

$button-border-radius: 0.3rem;

$break-v-small: 640px;
$break-v-medium: 720px;
$break-v-large: 800px;
$break-h-large: 1024px;
$break-h-medium: 720px;
$break-h-small: 540px;

