$cell-size: 6.4rem;
$circle-size: 4.8rem;

$bounce-cycle-duration: 500ms;

.ColoredCell {
  width: $cell-size;
  height: $cell-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ColoredCell-circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size / 2;
  box-shadow: rgba(0, 0, 0, 0.5) -0.2rem 0.2rem 0.3rem 0;
}

// we must define MAX_COLORS_COUNT colors
$colors: (
  1: #990000,
  2: #008811 #001100 #33ff11,
  3: #0011aa #001122 #3399ff,
  4: #ffcc00 #dd8822 #ffee77,
  5: #404040,
  6: #990099 #220033 #ff88ff,
  7: #44aadd #115566 #66ffff,
  8: #8b4513,
  9: #ff99dd #dd4499 #ffeeff,
);

@each $index, $color in $colors {
  $main-color: nth($color, 1);
  $darker: darken($main-color, 25%);
  $lighter: lighten($main-color, 35%);

  @if length($color) > 1 {
    $darker: nth($color, 2);
  }
  @if length($color) > 2 {
    $lighter: nth($color, 3);
  }

  .ColoredCell-circle--#{$index} {
    background-image: radial-gradient(
      farthest-corner at 60% 40%,
      $lighter 1%,
      $main-color 55%,
      $darker 90%
    );
  }
}

.ColoredCell-circle--selected {
  animation-name: bounce;
  animation-duration: $bounce-cycle-duration;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  $oblation: 0.125;
  0% {
    transform: translateY(-0.5 * $oblation * $circle-size) scaleY(1);
  }
  50% {
    transform: translateY($oblation * $circle-size) scaleY(1 - $oblation);
  }
  100% {
    transform: translateY(-0.5 * $oblation * $circle-size) scaleY(1);
  }
}

.ColoredCell-circle--moving {
  animation-duration: 600ms;
}

$directions: (
  Up: translateY(-$cell-size),
  Down: translateY($cell-size),
  Left: translateX(-$cell-size),
  Right: translateX($cell-size),
);

@each $direction, $transform in $directions {
  @keyframes move#{$direction} {
    0% {
      transform: translate(0);
    }
    25% {
      transform: $transform;
    }
    100% {
      transform: $transform;
    }
  }

  .ColoredCell-circle--moving#{$direction} {
    animation-name: move#{$direction};
  }
}

.ColoredCell-circle--appearing {
  animation-name: appear;
  animation-duration: 150ms;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.ColoredCell-circle--disappearing {
  animation-name: disappear;
  animation-duration: 200ms;
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
