@import 'styles/variables';

.App {
  min-height: 96vh;
  max-width: $break-h-large;
  margin: auto;

  header {
    margin: 0 1.2rem;
    text-align: center;
    position: relative;
  }

  nav {
    margin: 0 1.2rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > span {
      display: flex;
      flex-wrap: wrap;
    }
  }

  main {
    border-top: 0.1rem solid $color-border-0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.6rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .App-localeChooser {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
