@import './styles/variables.scss';

html {
  box-sizing: border-box;
  font-size: 10px;  // for rem calculation

  @media screen and (max-height: $break-v-medium) {
    font-size: 8px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.25;
  color: $color-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {

}
