$cell-size: 64px;
$circle-size: 48px;

$bounce-cycle-duration: 500ms;

.ColoredCell {
  width: $cell-size;
  height: $cell-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ColoredCell-circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size / 2;
  box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 3px 0;
}

// we must define MAX_COLORS_COUNT colors
$colors: (
  1: #990000,
  2: #008000,
  3: #004499,
  4: #ffcc00 #cc8800,
  5: #990099,
  6: #009999,
  7: #ff7700 #aa3300 #ffdd88,
  8: #aacc00 #555500 #eeee77,
  9: #000000,
  10: #ff66bb #aa0077 #ffddee,
  11: #8b4513,
  12: #808080,
);

@each $index, $color in $colors {
  $main-color: nth($color, 1);
  $darker: darken($main-color, 25%);
  $lighter: lighten($main-color, 35%);

  @if length($color) > 1 {
    $darker: nth($color, 2);
  }
  @if length($color) > 2 {
    $lighter: nth($color, 3);
  }

  .ColoredCell-circle--#{$index} {
    background-image: radial-gradient(farthest-corner at 60% 40%, $lighter 1%, $main-color 50%, $darker 85%);
  }
}

.ColoredCell-circle--selected {
  animation-name: bounce;
  animation-duration: $bounce-cycle-duration;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.ColoredCell-circle--moving {
  animation-duration: 800ms;
}

$directions: (
  Up: translateY(-$cell-size),
  Down: translateY($cell-size),
  Left: translateX(-$cell-size),
  Right: translateX($cell-size),
);

@each $direction, $transform in $directions {
  @keyframes move#{$direction} {
    0% {
      transform: translate(0);
    }
    25% {
      transform: $transform;
    }
    100% {
      transform: $transform;
    }
  }

  .ColoredCell-circle--moving#{$direction} {
    animation-name: move#{$direction};
  }
}
