.OptionsModal {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  p {
    &:first-child {
      margin: 0;
    }
  }
}

.OptionsModal-buttons {
  display: flex;
  justify-content: flex-end;
}
