.RankingModal {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.RankingModal-tableWrapper {
  flex-grow: 1;
  margin-bottom: 16px;
  overflow-y: auto;

  table {
    width: 100%;

    td,
    th {
      height: 36px;
      padding: 8px;
      text-align: left;
    }
  }
}

.RankingModal-buttons {
  display: flex;
  justify-content: space-between;
}
