@import '../../styles/variables';

$icon-size: 2.0rem;

.Button {
  border: 0;
  min-width: 10.0rem;
  min-height: 4.8rem;
  padding: 0 1.6rem;
  margin: 0.4rem;
  border-radius: $button-border-radius;
  font-size: 1.6rem;
  line-height: $icon-size;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $break-h-small) {
    min-width: auto;
  }

  svg {
    width: $icon-size;
    height: $icon-size;
    fill: currentColor;

    & + span {
      margin-left: 0.4rem;

      @media screen and (max-width: $break-h-small) {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: inset $color-primary 0 0 0.2rem 0.2rem;
  }

  &--primary {
    border: thin solid $color-primary-dark;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);
    color: $color-text-dark-background;

    &:focus {
      outline: none;
      box-shadow: inset $color-text-dark-background 0 0 0.2rem 0.2rem;
    }
  }

  &--default {
    border: thin solid $color-border-0;
    background-image: linear-gradient($color-background-1, $color-background-2);
    color: lighten($color-text, 10%);
  }

  &.Button--disabled {
    background: $color-background-disabled;
    opacity: 0.75;
  }
}
