@import '../../styles/variables';

.SegmentedControl {
  display: flex;
  $self: &;

  &#{&}--vertical {
    flex-direction: column;
  }

  &-button {
    flex-basis: 4.8rem;
    min-height: 3.6rem;
    padding: 0 1.6rem;
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    white-space: nowrap;

    border: thin solid $color-border-0;
    background-image: linear-gradient($color-background-1, $color-background-2);
    color: lighten($color-text, 10%);

    &:first-child {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;

      #{$self}#{$self}--vertical & {
        border-bottom-left-radius: 0;
        border-top-right-radius: $button-border-radius;
      }
    }
    &:last-child {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;

      #{$self}#{$self}--vertical & {
        border-top-right-radius: 0;
        border-bottom-left-radius: $button-border-radius;
      }
    }

    & + & {
      border-left-width: 0;

      #{$self}#{$self}--vertical & {
        border-left-width: 0.1rem;
        border-top-width: 0;
      }
    }

    &#{&}--selected {
      background-image: none;
      background-color: $color-background-selected;
    }

    &:focus {
      outline: none;
      box-shadow: inset $color-primary 0 0 0.2rem 0.2rem;
    }
  }
}
