$color-primary: #0788de;
$color-primary-dark: #116ab8;

$color-text: #222;
$color-text-dark-background: #fff;

$color-background-0: #fff;
$color-background-1: #fafafa;
$color-background-2: #eee;

$color-border-0: #bdbdbd;

$color-shadow: #00000088;

$button-border-radius: 3px;
